<div class="card">
    <div class="card-header">
        <h4>Profile Visit</h4>
    </div>
    <div class="card-body" style="position: relative;">
        <div id="chart-profile-visit" style="min-height: 315px;">
            <div id="apexcharts1r1p54" class="apexcharts-canvas apexcharts1r1p54 apexcharts-theme-light"
                style="width: 685px; height: 300px;">
                <svg id="SvgjsSvg1770" width="685" height="300" xmlns="http://www.w3.org/2000/svg" version="1.1"
                    xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                    class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)"
                    style="background: transparent;">
                    <g id="SvgjsG1772" class="apexcharts-inner apexcharts-graphical" transform="translate(39.25, 30)">
                        <defs id="SvgjsDefs1771">
                            <linearGradient id="SvgjsLinearGradient1776" x1="0" y1="0" x2="0" y2="1">
                                <stop id="SvgjsStop1777" stop-opacity="0.4" stop-color="rgba(216,227,240,0.4)"
                                    offset="0">

                                </stop>
                                <stop id="SvgjsStop1778" stop-opacity="0.5" stop-color="rgba(190,209,230,0.5)"
                                    offset="1">

                                </stop>
                                <stop id="SvgjsStop1779" stop-opacity="0.5" stop-color="rgba(190,209,230,0.5)"
                                    offset="1">

                                </stop>
                            </linearGradient>
                            <clipPath id="gridRectMask1r1p54">
                                <rect id="SvgjsRect1781" width="639.75" height="232.348" x="-2" y="0" rx="0" ry="0"
                                    opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff">

                                </rect>
                            </clipPath>
                            <clipPath id="gridRectMarkerMask1r1p54">
                                <rect id="SvgjsRect1782" width="639.75" height="236.348" x="-2" y="-2" rx="0" ry="0"
                                    opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect>
                            </clipPath>
                        </defs>
                        <rect id="SvgjsRect1780" width="37.08541666666667" height="232.348" x="0" y="0" rx="0" ry="0"
                            opacity="1" stroke-width="0" stroke-dasharray="3" fill="url(#SvgjsLinearGradient1776)"
                            class="apexcharts-xcrosshairs" y2="232.348" filter="none" fill-opacity="0.9"></rect>
                        <g id="SvgjsG1798" class="apexcharts-xaxis" transform="translate(0, 0)">
                            <g id="SvgjsG1799" class="apexcharts-xaxis-texts-g" transform="translate(0, -4)"><text
                                    id="SvgjsText1801" font-family="Helvetica, Arial, sans-serif" x="26.489583333333332"
                                    y="261.348" text-anchor="middle" dominant-baseline="auto" font-size="12px"
                                    font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label "
                                    style="font-family: Helvetica, Arial, sans-serif;">
                                    <tspan id="SvgjsTspan1802">Jan</tspan>
                                    <title>Jan</title>
                                </text><text id="SvgjsText1804" font-family="Helvetica, Arial, sans-serif" x="79.46875"
                                    y="261.348" text-anchor="middle" dominant-baseline="auto" font-size="12px"
                                    font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label "
                                    style="font-family: Helvetica, Arial, sans-serif;">
                                    <tspan id="SvgjsTspan1805">Feb</tspan>
                                    <title>Feb</title>
                                </text><text id="SvgjsText1807" font-family="Helvetica, Arial, sans-serif"
                                    x="132.44791666666666" y="261.348" text-anchor="middle" dominant-baseline="auto"
                                    font-size="12px" font-weight="400" fill="#373d3f"
                                    class="apexcharts-text apexcharts-xaxis-label "
                                    style="font-family: Helvetica, Arial, sans-serif;">
                                    <tspan id="SvgjsTspan1808">Mar</tspan>
                                    <title>Mar</title>
                                </text><text id="SvgjsText1810" font-family="Helvetica, Arial, sans-serif"
                                    x="185.42708333333331" y="261.348" text-anchor="middle" dominant-baseline="auto"
                                    font-size="12px" font-weight="400" fill="#373d3f"
                                    class="apexcharts-text apexcharts-xaxis-label "
                                    style="font-family: Helvetica, Arial, sans-serif;">
                                    <tspan id="SvgjsTspan1811">Apr</tspan>
                                    <title>Apr</title>
                                </text><text id="SvgjsText1813" font-family="Helvetica, Arial, sans-serif"
                                    x="238.40624999999997" y="261.348" text-anchor="middle" dominant-baseline="auto"
                                    font-size="12px" font-weight="400" fill="#373d3f"
                                    class="apexcharts-text apexcharts-xaxis-label "
                                    style="font-family: Helvetica, Arial, sans-serif;">
                                    <tspan id="SvgjsTspan1814">May</tspan>
                                    <title>May</title>
                                </text><text id="SvgjsText1816" font-family="Helvetica, Arial, sans-serif"
                                    x="291.3854166666667" y="261.348" text-anchor="middle" dominant-baseline="auto"
                                    font-size="12px" font-weight="400" fill="#373d3f"
                                    class="apexcharts-text apexcharts-xaxis-label "
                                    style="font-family: Helvetica, Arial, sans-serif;">
                                    <tspan id="SvgjsTspan1817">Jun</tspan>
                                    <title>Jun</title>
                                </text><text id="SvgjsText1819" font-family="Helvetica, Arial, sans-serif"
                                    x="344.36458333333337" y="261.348" text-anchor="middle" dominant-baseline="auto"
                                    font-size="12px" font-weight="400" fill="#373d3f"
                                    class="apexcharts-text apexcharts-xaxis-label "
                                    style="font-family: Helvetica, Arial, sans-serif;">
                                    <tspan id="SvgjsTspan1820">Jul</tspan>
                                    <title>Jul</title>
                                </text><text id="SvgjsText1822" font-family="Helvetica, Arial, sans-serif"
                                    x="397.34375000000006" y="261.348" text-anchor="middle" dominant-baseline="auto"
                                    font-size="12px" font-weight="400" fill="#373d3f"
                                    class="apexcharts-text apexcharts-xaxis-label "
                                    style="font-family: Helvetica, Arial, sans-serif;">
                                    <tspan id="SvgjsTspan1823">Aug</tspan>
                                    <title>Aug</title>
                                </text><text id="SvgjsText1825" font-family="Helvetica, Arial, sans-serif"
                                    x="450.32291666666674" y="261.348" text-anchor="middle" dominant-baseline="auto"
                                    font-size="12px" font-weight="400" fill="#373d3f"
                                    class="apexcharts-text apexcharts-xaxis-label "
                                    style="font-family: Helvetica, Arial, sans-serif;">
                                    <tspan id="SvgjsTspan1826">Sep</tspan>
                                    <title>Sep</title>
                                </text><text id="SvgjsText1828" font-family="Helvetica, Arial, sans-serif"
                                    x="503.3020833333334" y="261.348" text-anchor="middle" dominant-baseline="auto"
                                    font-size="12px" font-weight="400" fill="#373d3f"
                                    class="apexcharts-text apexcharts-xaxis-label "
                                    style="font-family: Helvetica, Arial, sans-serif;">
                                    <tspan id="SvgjsTspan1829">Oct</tspan>
                                    <title>Oct</title>
                                </text><text id="SvgjsText1831" font-family="Helvetica, Arial, sans-serif" x="556.28125"
                                    y="261.348" text-anchor="middle" dominant-baseline="auto" font-size="12px"
                                    font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label "
                                    style="font-family: Helvetica, Arial, sans-serif;">
                                    <tspan id="SvgjsTspan1832">Nov</tspan>
                                    <title>Nov</title>
                                </text><text id="SvgjsText1834" font-family="Helvetica, Arial, sans-serif"
                                    x="609.2604166666666" y="261.348" text-anchor="middle" dominant-baseline="auto"
                                    font-size="12px" font-weight="400" fill="#373d3f"
                                    class="apexcharts-text apexcharts-xaxis-label "
                                    style="font-family: Helvetica, Arial, sans-serif;">
                                    <tspan id="SvgjsTspan1835">Dec</tspan>
                                    <title>Dec</title>
                                </text></g>
                            <line id="SvgjsLine1836" x1="0" y1="233.348" x2="635.75" y2="233.348" stroke="#e0e0e0"
                                stroke-dasharray="0" stroke-width="1"></line>
                        </g>
                        <g id="SvgjsG1849" class="apexcharts-grid">
                            <g id="SvgjsG1850" class="apexcharts-gridlines-horizontal">
                                <line id="SvgjsLine1865" x1="0" y1="0" x2="635.75" y2="0" stroke="#e0e0e0"
                                    stroke-dasharray="0" class="apexcharts-gridline"></line>
                                <line id="SvgjsLine1866" x1="0" y1="58.087" x2="635.75" y2="58.087" stroke="#e0e0e0"
                                    stroke-dasharray="0" class="apexcharts-gridline"></line>
                                <line id="SvgjsLine1867" x1="0" y1="116.174" x2="635.75" y2="116.174" stroke="#e0e0e0"
                                    stroke-dasharray="0" class="apexcharts-gridline"></line>
                                <line id="SvgjsLine1868" x1="0" y1="174.26100000000002" x2="635.75"
                                    y2="174.26100000000002" stroke="#e0e0e0" stroke-dasharray="0"
                                    class="apexcharts-gridline"></line>
                                <line id="SvgjsLine1869" x1="0" y1="232.348" x2="635.75" y2="232.348" stroke="#e0e0e0"
                                    stroke-dasharray="0" class="apexcharts-gridline"></line>
                            </g>
                            <g id="SvgjsG1851" class="apexcharts-gridlines-vertical"></g>
                            <line id="SvgjsLine1852" x1="0" y1="233.348" x2="0" y2="239.348" stroke="#e0e0e0"
                                stroke-dasharray="0" class="apexcharts-xaxis-tick"></line>
                            <line id="SvgjsLine1853" x1="52.979166666666664" y1="233.348" x2="52.979166666666664"
                                y2="239.348" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-xaxis-tick"></line>
                            <line id="SvgjsLine1854" x1="105.95833333333333" y1="233.348" x2="105.95833333333333"
                                y2="239.348" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-xaxis-tick"></line>
                            <line id="SvgjsLine1855" x1="158.9375" y1="233.348" x2="158.9375" y2="239.348"
                                stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-xaxis-tick"></line>
                            <line id="SvgjsLine1856" x1="211.91666666666666" y1="233.348" x2="211.91666666666666"
                                y2="239.348" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-xaxis-tick"></line>
                            <line id="SvgjsLine1857" x1="264.8958333333333" y1="233.348" x2="264.8958333333333"
                                y2="239.348" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-xaxis-tick"></line>
                            <line id="SvgjsLine1858" x1="317.875" y1="233.348" x2="317.875" y2="239.348"
                                stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-xaxis-tick"></line>
                            <line id="SvgjsLine1859" x1="370.8541666666667" y1="233.348" x2="370.8541666666667"
                                y2="239.348" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-xaxis-tick"></line>
                            <line id="SvgjsLine1860" x1="423.83333333333337" y1="233.348" x2="423.83333333333337"
                                y2="239.348" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-xaxis-tick"></line>
                            <line id="SvgjsLine1861" x1="476.81250000000006" y1="233.348" x2="476.81250000000006"
                                y2="239.348" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-xaxis-tick"></line>
                            <line id="SvgjsLine1862" x1="529.7916666666667" y1="233.348" x2="529.7916666666667"
                                y2="239.348" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-xaxis-tick"></line>
                            <line id="SvgjsLine1863" x1="582.7708333333334" y1="233.348" x2="582.7708333333334"
                                y2="239.348" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-xaxis-tick"></line>
                            <line id="SvgjsLine1864" x1="635.75" y1="233.348" x2="635.75" y2="239.348" stroke="#e0e0e0"
                                stroke-dasharray="0" class="apexcharts-xaxis-tick"></line>
                            <line id="SvgjsLine1871" x1="0" y1="232.348" x2="635.75" y2="232.348" stroke="transparent"
                                stroke-dasharray="0"></line>
                            <line id="SvgjsLine1870" x1="0" y1="1" x2="0" y2="232.348" stroke="transparent"
                                stroke-dasharray="0"></line>
                        </g>
                        <g id="SvgjsG1872" class="apexcharts-yaxis-annotations"></g>
                        <g id="SvgjsG1873" class="apexcharts-xaxis-annotations"></g>
                        <g id="SvgjsG1874" class="apexcharts-point-annotations"></g>
                        <g id="SvgjsG1783" class="apexcharts-bar-series apexcharts-plot-series">
                            <g id="SvgjsG1784" class="apexcharts-series" rel="1" seriesName="sales" data:realIndex="0">
                                <path id="SvgjsPath1786"
                                    d="M 7.946874999999999 232.348L 7.946874999999999 167.00012500000003L 45.032291666666666 167.00012500000003L 45.032291666666666 167.00012500000003L 45.032291666666666 232.348L 45.032291666666666 232.348z"
                                    fill="rgba(67,94,190,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="square"
                                    stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="0"
                                    clip-path="url(#gridRectMask1r1p54)"
                                    pathTo="M 7.946874999999999 232.348L 7.946874999999999 167.00012500000003L 45.032291666666666 167.00012500000003L 45.032291666666666 167.00012500000003L 45.032291666666666 232.348L 45.032291666666666 232.348z"
                                    pathFrom="M 7.946874999999999 232.348L 7.946874999999999 232.348L 45.032291666666666 232.348L 45.032291666666666 232.348L 45.032291666666666 232.348L 7.946874999999999 232.348"
                                    cy="167.00012500000003" cx="60.92604166666666" j="0" val="9" barHeight="65.347875"
                                    barWidth="37.08541666666667"></path>
                                <path id="SvgjsPath1787"
                                    d="M 60.92604166666666 232.348L 60.92604166666666 87.13049999999998L 98.01145833333334 87.13049999999998L 98.01145833333334 87.13049999999998L 98.01145833333334 232.348L 98.01145833333334 232.348z"
                                    fill="rgba(67,94,190,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="square"
                                    stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="0"
                                    clip-path="url(#gridRectMask1r1p54)"
                                    pathTo="M 60.92604166666666 232.348L 60.92604166666666 87.13049999999998L 98.01145833333334 87.13049999999998L 98.01145833333334 87.13049999999998L 98.01145833333334 232.348L 98.01145833333334 232.348z"
                                    pathFrom="M 60.92604166666666 232.348L 60.92604166666666 232.348L 98.01145833333334 232.348L 98.01145833333334 232.348L 98.01145833333334 232.348L 60.92604166666666 232.348"
                                    cy="87.13049999999998" cx="113.90520833333332" j="1" val="20"
                                    barHeight="145.21750000000003" barWidth="37.08541666666667"></path>
                                <path id="SvgjsPath1788"
                                    d="M 113.90520833333332 232.348L 113.90520833333332 14.521749999999997L 150.990625 14.521749999999997L 150.990625 14.521749999999997L 150.990625 232.348L 150.990625 232.348z"
                                    fill="rgba(67,94,190,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="square"
                                    stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="0"
                                    clip-path="url(#gridRectMask1r1p54)"
                                    pathTo="M 113.90520833333332 232.348L 113.90520833333332 14.521749999999997L 150.990625 14.521749999999997L 150.990625 14.521749999999997L 150.990625 232.348L 150.990625 232.348z"
                                    pathFrom="M 113.90520833333332 232.348L 113.90520833333332 232.348L 150.990625 232.348L 150.990625 232.348L 150.990625 232.348L 113.90520833333332 232.348"
                                    cy="14.521749999999997" cx="166.88437499999998" j="2" val="30"
                                    barHeight="217.82625000000002" barWidth="37.08541666666667"></path>
                                <path id="SvgjsPath1789"
                                    d="M 166.88437499999998 232.348L 166.88437499999998 87.13049999999998L 203.96979166666665 87.13049999999998L 203.96979166666665 87.13049999999998L 203.96979166666665 232.348L 203.96979166666665 232.348z"
                                    fill="rgba(67,94,190,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="square"
                                    stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="0"
                                    clip-path="url(#gridRectMask1r1p54)"
                                    pathTo="M 166.88437499999998 232.348L 166.88437499999998 87.13049999999998L 203.96979166666665 87.13049999999998L 203.96979166666665 87.13049999999998L 203.96979166666665 232.348L 203.96979166666665 232.348z"
                                    pathFrom="M 166.88437499999998 232.348L 166.88437499999998 232.348L 203.96979166666665 232.348L 203.96979166666665 232.348L 203.96979166666665 232.348L 166.88437499999998 232.348"
                                    cy="87.13049999999998" cx="219.86354166666663" j="3" val="20"
                                    barHeight="145.21750000000003" barWidth="37.08541666666667"></path>
                                <path id="SvgjsPath1790"
                                    d="M 219.86354166666663 232.348L 219.86354166666663 159.73925L 256.9489583333333 159.73925L 256.9489583333333 159.73925L 256.9489583333333 232.348L 256.9489583333333 232.348z"
                                    fill="rgba(67,94,190,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="square"
                                    stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="0"
                                    clip-path="url(#gridRectMask1r1p54)"
                                    pathTo="M 219.86354166666663 232.348L 219.86354166666663 159.73925L 256.9489583333333 159.73925L 256.9489583333333 159.73925L 256.9489583333333 232.348L 256.9489583333333 232.348z"
                                    pathFrom="M 219.86354166666663 232.348L 219.86354166666663 232.348L 256.9489583333333 232.348L 256.9489583333333 232.348L 256.9489583333333 232.348L 219.86354166666663 232.348"
                                    cy="159.73925" cx="272.8427083333333" j="4" val="10" barHeight="72.60875000000001"
                                    barWidth="37.08541666666667"></path>
                                <path id="SvgjsPath1791"
                                    d="M 272.8427083333333 232.348L 272.8427083333333 87.13049999999998L 309.92812499999997 87.13049999999998L 309.92812499999997 87.13049999999998L 309.92812499999997 232.348L 309.92812499999997 232.348z"
                                    fill="rgba(67,94,190,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="square"
                                    stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="0"
                                    clip-path="url(#gridRectMask1r1p54)"
                                    pathTo="M 272.8427083333333 232.348L 272.8427083333333 87.13049999999998L 309.92812499999997 87.13049999999998L 309.92812499999997 87.13049999999998L 309.92812499999997 232.348L 309.92812499999997 232.348z"
                                    pathFrom="M 272.8427083333333 232.348L 272.8427083333333 232.348L 309.92812499999997 232.348L 309.92812499999997 232.348L 309.92812499999997 232.348L 272.8427083333333 232.348"
                                    cy="87.13049999999998" cx="325.821875" j="5" val="20" barHeight="145.21750000000003"
                                    barWidth="37.08541666666667"></path>
                                <path id="SvgjsPath1792"
                                    d="M 325.821875 232.348L 325.821875 14.521749999999997L 362.90729166666665 14.521749999999997L 362.90729166666665 14.521749999999997L 362.90729166666665 232.348L 362.90729166666665 232.348z"
                                    fill="rgba(67,94,190,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="square"
                                    stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="0"
                                    clip-path="url(#gridRectMask1r1p54)"
                                    pathTo="M 325.821875 232.348L 325.821875 14.521749999999997L 362.90729166666665 14.521749999999997L 362.90729166666665 14.521749999999997L 362.90729166666665 232.348L 362.90729166666665 232.348z"
                                    pathFrom="M 325.821875 232.348L 325.821875 232.348L 362.90729166666665 232.348L 362.90729166666665 232.348L 362.90729166666665 232.348L 325.821875 232.348"
                                    cy="14.521749999999997" cx="378.80104166666666" j="6" val="30"
                                    barHeight="217.82625000000002" barWidth="37.08541666666667"></path>
                                <path id="SvgjsPath1793"
                                    d="M 378.80104166666666 232.348L 378.80104166666666 87.13049999999998L 415.88645833333334 87.13049999999998L 415.88645833333334 87.13049999999998L 415.88645833333334 232.348L 415.88645833333334 232.348z"
                                    fill="rgba(67,94,190,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="square"
                                    stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="0"
                                    clip-path="url(#gridRectMask1r1p54)"
                                    pathTo="M 378.80104166666666 232.348L 378.80104166666666 87.13049999999998L 415.88645833333334 87.13049999999998L 415.88645833333334 87.13049999999998L 415.88645833333334 232.348L 415.88645833333334 232.348z"
                                    pathFrom="M 378.80104166666666 232.348L 378.80104166666666 232.348L 415.88645833333334 232.348L 415.88645833333334 232.348L 415.88645833333334 232.348L 378.80104166666666 232.348"
                                    cy="87.13049999999998" cx="431.78020833333335" j="7" val="20"
                                    barHeight="145.21750000000003" barWidth="37.08541666666667"></path>
                                <path id="SvgjsPath1794"
                                    d="M 431.78020833333335 232.348L 431.78020833333335 159.73925L 468.865625 159.73925L 468.865625 159.73925L 468.865625 232.348L 468.865625 232.348z"
                                    fill="rgba(67,94,190,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="square"
                                    stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="0"
                                    clip-path="url(#gridRectMask1r1p54)"
                                    pathTo="M 431.78020833333335 232.348L 431.78020833333335 159.73925L 468.865625 159.73925L 468.865625 159.73925L 468.865625 232.348L 468.865625 232.348z"
                                    pathFrom="M 431.78020833333335 232.348L 431.78020833333335 232.348L 468.865625 232.348L 468.865625 232.348L 468.865625 232.348L 431.78020833333335 232.348"
                                    cy="159.73925" cx="484.75937500000003" j="8" val="10" barHeight="72.60875000000001"
                                    barWidth="37.08541666666667"></path>
                                <path id="SvgjsPath1795"
                                    d="M 484.75937500000003 232.348L 484.75937500000003 87.13049999999998L 521.8447916666667 87.13049999999998L 521.8447916666667 87.13049999999998L 521.8447916666667 232.348L 521.8447916666667 232.348z"
                                    fill="rgba(67,94,190,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="square"
                                    stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="0"
                                    clip-path="url(#gridRectMask1r1p54)"
                                    pathTo="M 484.75937500000003 232.348L 484.75937500000003 87.13049999999998L 521.8447916666667 87.13049999999998L 521.8447916666667 87.13049999999998L 521.8447916666667 232.348L 521.8447916666667 232.348z"
                                    pathFrom="M 484.75937500000003 232.348L 484.75937500000003 232.348L 521.8447916666667 232.348L 521.8447916666667 232.348L 521.8447916666667 232.348L 484.75937500000003 232.348"
                                    cy="87.13049999999998" cx="537.7385416666667" j="9" val="20"
                                    barHeight="145.21750000000003" barWidth="37.08541666666667"></path>
                                <path id="SvgjsPath1796"
                                    d="M 537.7385416666667 232.348L 537.7385416666667 14.521749999999997L 574.8239583333334 14.521749999999997L 574.8239583333334 14.521749999999997L 574.8239583333334 232.348L 574.8239583333334 232.348z"
                                    fill="rgba(67,94,190,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="square"
                                    stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="0"
                                    clip-path="url(#gridRectMask1r1p54)"
                                    pathTo="M 537.7385416666667 232.348L 537.7385416666667 14.521749999999997L 574.8239583333334 14.521749999999997L 574.8239583333334 14.521749999999997L 574.8239583333334 232.348L 574.8239583333334 232.348z"
                                    pathFrom="M 537.7385416666667 232.348L 537.7385416666667 232.348L 574.8239583333334 232.348L 574.8239583333334 232.348L 574.8239583333334 232.348L 537.7385416666667 232.348"
                                    cy="14.521749999999997" cx="590.7177083333333" j="10" val="30"
                                    barHeight="217.82625000000002" barWidth="37.08541666666667"></path>
                                <path id="SvgjsPath1797"
                                    d="M 590.7177083333333 232.348L 590.7177083333333 87.13049999999998L 627.803125 87.13049999999998L 627.803125 87.13049999999998L 627.803125 232.348L 627.803125 232.348z"
                                    fill="rgba(67,94,190,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="square"
                                    stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="0"
                                    clip-path="url(#gridRectMask1r1p54)"
                                    pathTo="M 590.7177083333333 232.348L 590.7177083333333 87.13049999999998L 627.803125 87.13049999999998L 627.803125 87.13049999999998L 627.803125 232.348L 627.803125 232.348z"
                                    pathFrom="M 590.7177083333333 232.348L 590.7177083333333 232.348L 627.803125 232.348L 627.803125 232.348L 627.803125 232.348L 590.7177083333333 232.348"
                                    cy="87.13049999999998" cx="643.696875" j="11" val="20"
                                    barHeight="145.21750000000003" barWidth="37.08541666666667"></path>
                            </g>
                            <g id="SvgjsG1785" class="apexcharts-datalabels" data:realIndex="0"></g>
                        </g>
                        <line id="SvgjsLine1875" x1="0" y1="0" x2="635.75" y2="0" stroke="#b6b6b6" stroke-dasharray="0"
                            stroke-width="1" class="apexcharts-ycrosshairs"></line>
                        <line id="SvgjsLine1876" x1="0" y1="0" x2="635.75" y2="0" stroke-dasharray="0" stroke-width="0"
                            class="apexcharts-ycrosshairs-hidden"></line>
                    </g>
                    <g id="SvgjsG1837" class="apexcharts-yaxis" rel="0" transform="translate(9.25, 0)">
                        <g id="SvgjsG1838" class="apexcharts-yaxis-texts-g"><text id="SvgjsText1839"
                                font-family="Helvetica, Arial, sans-serif" x="20" y="31.4" text-anchor="end"
                                dominant-baseline="auto" font-size="11px" font-weight="400" fill="#373d3f"
                                class="apexcharts-text apexcharts-yaxis-label "
                                style="font-family: Helvetica, Arial, sans-serif;">
                                <tspan id="SvgjsTspan1840">32</tspan>
                            </text><text id="SvgjsText1841" font-family="Helvetica, Arial, sans-serif" x="20"
                                y="89.48700000000001" text-anchor="end" dominant-baseline="auto" font-size="11px"
                                font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-yaxis-label "
                                style="font-family: Helvetica, Arial, sans-serif;">
                                <tspan id="SvgjsTspan1842">24</tspan>
                            </text><text id="SvgjsText1843" font-family="Helvetica, Arial, sans-serif" x="20"
                                y="147.574" text-anchor="end" dominant-baseline="auto" font-size="11px"
                                font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-yaxis-label "
                                style="font-family: Helvetica, Arial, sans-serif;">
                                <tspan id="SvgjsTspan1844">16</tspan>
                            </text><text id="SvgjsText1845" font-family="Helvetica, Arial, sans-serif" x="20"
                                y="205.66100000000003" text-anchor="end" dominant-baseline="auto" font-size="11px"
                                font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-yaxis-label "
                                style="font-family: Helvetica, Arial, sans-serif;">
                                <tspan id="SvgjsTspan1846">8</tspan>
                            </text><text id="SvgjsText1847" font-family="Helvetica, Arial, sans-serif" x="20"
                                y="263.748" text-anchor="end" dominant-baseline="auto" font-size="11px"
                                font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-yaxis-label "
                                style="font-family: Helvetica, Arial, sans-serif;">
                                <tspan id="SvgjsTspan1848">0</tspan>
                            </text></g>
                    </g>
                    <g id="SvgjsG1773" class="apexcharts-annotations"></g>
                </svg>
                <div class="apexcharts-legend" style="max-height: 150px;"></div>
                <div class="apexcharts-tooltip apexcharts-theme-light">
                    <div class="apexcharts-tooltip-title"
                        style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"></div>
                    <div class="apexcharts-tooltip-series-group" style="order: 1;"><span
                            class="apexcharts-tooltip-marker"></span>
                        <div class="apexcharts-tooltip-text"
                            style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
                            <div class="apexcharts-tooltip-y-group"><span
                                    class="apexcharts-tooltip-text-label"></span><span
                                    class="apexcharts-tooltip-text-value"></span></div>
                            <div class="apexcharts-tooltip-z-group"><span
                                    class="apexcharts-tooltip-text-z-label"></span><span
                                    class="apexcharts-tooltip-text-z-value"></span></div>
                        </div>
                    </div>
                </div>
                <div
                    class="apexcharts-yaxistooltip apexcharts-yaxistooltip-0 apexcharts-yaxistooltip-left apexcharts-theme-light">
                    <div class="apexcharts-yaxistooltip-text"></div>
                </div>
                <div class="apexcharts-toolbar" style="top: 0px; right: 3px;">
                    <div class="apexcharts-menu-icon" title="Menu"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                            height="24" viewBox="0 0 24 24">
                            <path fill="none" d="M0 0h24v24H0V0z"></path>
                            <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
                        </svg></div>
                    <div class="apexcharts-menu">
                        <div class="apexcharts-menu-item exportSVG" title="Download SVG">Download SVG</div>
                        <div class="apexcharts-menu-item exportPNG" title="Download PNG">Download PNG</div>
                        <div class="apexcharts-menu-item exportCSV" title="Download CSV">Download CSV</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="resize-triggers">
            <div class="expand-trigger">
                <div style="width: 734px; height: 340px;"></div>
            </div>
            <div class="contract-trigger"></div>
        </div>
    </div>
</div>